.main{
    display: flex;
}

.content{
    display: flex;
    width: 100%; 
    overflow: auto;
}
.pageChildContent{
    display: flex; 
    flex: 1 1 0%;
    overflow: auto;
    padding: 3rem 1rem 1rem;
}
.pageContentWrapper{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    max-width: 76rem;
    margin: auto;
}