.aside {
  height: 100vh;
  /* min-width: 15vw; */
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f8;
  border-right: 1px rgb(103, 103, 103);
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
.navHeader {
  padding: 1rem; /* 16px */
  padding-bottom: 0.5rem; /* 8px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  overflow: hidden;
  transition: 150ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.expanded {
  width: 8rem; /* 128px */
}
.notExpanded {
  width: 0px;
}
.expandButton {
  padding: 0.375rem; /* 6px */
  border-radius: 0.5rem; /* 8px */
  background-color: rgb(249 250 251);
  border: none;
  cursor: pointer;
}
.expandButton:hover {
  background-color: rgb(243 244 246);
}

.navList {
  flex: 1;
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  display: flex;
  flex-direction: column;
}
.navFooter {
  display: flex;
  align-items: center;
  padding: 0.75rem; /* 12px */
  border-top: 1px solid rgba(150, 150, 150, 0.5);
}
.userInfoWrapper{
  line-height: 1.1rem; /* 16px */
}
.userInfo {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  overflow: hidden;
  transition: 150ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.userInfoExpanded{
  width: 13rem; /* 208px */
  margin-left: 0.75rem; /* 12px */
}
.userName {
  font-weight: 600;
}
.userEmail {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(75 85 99);
}
.avatar {
  width: 2.5rem; /* 40px */
  height: 2.5rem;
  border-radius: 0.375rem; /* 6px */
}
