.formContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  flex: 1;
}
.stepsContainer {
  display: flex;
}
.stepsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.step {
    text-align: center;
  height: 1.875rem;
  border-radius: 0.5rem;
  color: var(--gray-color);
  width: 6.5rem;
}
.step:after{
    content: "";
    border-radius: 0.375rem;
    max-width: 6.5rem;
    height: 0.625rem;
    background: var(--gray-color);
    display: block;
    margin-top: 10px;
}
.stepActive:after{
    width: 100%;
    height: 0.625rem;
    display: block;
    content: "";
    border-radius: 0.375rem;
    margin-top: 0.625rem;
    background: var(--blue-color);
}
.stepActive {
color: var(--blue-color)
}
.buttonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}
.prevBtn{
    cursor: pointer;
    border-radius: 0.5rem;
    height:3.5rem;
    width: 3.5rem;
    background-color: var(--prev-btn-bg-color);
    border: 1px solid var(--border-btn-color);
}
.nextBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.375rem;
    width:11.5rem;
    height:3.5rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border:none;
    background-color: var(--blue-color);
    transition: 150ms background-color ease-in;
}
.nextBtn:not(.disabledBtn):hover {
    background-color: var(--blue-hover-color);
}

.disabledBtn{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--gray-color); 
}

.detailsStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.inputItem{
    display: flex;
    align-items: left;
    flex-direction: column;
    gap:0.75rem;
    justify-content: center;
}
.errMsg{
    color:var(--err-msg-color);
}