

.inputWrapper{
    display: flex;
    flex-direction: column;
    /* max-width: 27rem; */
    flex:1;
}
.inputWrapper span{
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.inputWrapper:not(:last-child){
    margin-bottom: 1rem;
}
.inputItem {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
  }
  .inputItem h4 {
    font-size: 1rem;
  }
 
  .errMsg {
    color: var(--err-msg-color);
    font-size: 0.875rem;
    margin-top: 0.25rem;
   
  }
  .error .textInput{
  
      border-color:var(--err-msg-color) !important;
  }
.textInput{
    display: flex;
    justify-content: left;
    align-items: center;
    outline: var(--border-input-outline-color) solid 2px;
    background-color: #fff;
    transition: outline 150ms ease-in-out 0s;
    cursor: text;
    font-size:1rem;
    border: 1px solid #bdc2c7;
    height: 3rem;
    border-radius: 0.5rem;
    /* max-width:27rem; */
    /* width: 23rem; */
    width: 100%;
    padding-left: 1.25rem;
    transition: all 0.5s ease ;
}
.textInput:focus{
  /* outline: 1px solid var(--black-bg-color); */
  border-color:var(--black-bg-color)
}
