:root {
  --blue-color: rgb(0, 110, 255);
  --blue-hover-color: rgb(0, 86, 199);
  --prev-btn-bg-color:rgb(246, 246, 246);
  --gray-color:rgba(153, 165, 197, 0.426);
  --blue-light-color:rgba(0, 111, 255, 0.1);
  --border-btn-color:rgba(153, 165, 197, 0.5);
  --border-input-color:rgba(153, 165, 197, 0.5);
  --border-input-outline-color:rgba(0, 110, 255, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,h1,h2,h3,h4,h5,li{
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
